.navbar {
	width: 100%;
	padding: 1rem;
	display: flex;
	align-items: center;
	gap: .8rem;
	border-bottom: 1px solid var(--border-bottom-grey);
	background-color: var(--white-background);
}

.navbar-image {
	width: 2rem;
}

.navbar-site-title {
	width: 70%;
}

.translate-buttons {
	width: fit-content;
	margin-left: auto;
	display: flex;
	gap: .3rem;
}

.translate-button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}
