@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white-background: #f7f7f7;
	--border-bottom-grey: #575757;
}

body {
	font-family: "raleway", sans-serif;
	background-color: #e3e3e3;
}
